{% extends 'base.html.twig' %}

{% block title %}Notre société{% endblock %}

{% block body %}
<div class="contenue">
    <h1>Qui sommes nous ?</h1>
    <div class="a_propos">
        <div class="contenue_a_propos">
            <div class="circle"></div>
            <p>
            La société intervient dans le gardiennage, la surveillance et la télésurveillance de sites ainsi que dans
            la sécurité d’évènements.
            </p>
        </div>

        <div class="contenue_a_propos">
            <div class="circle"></div>
            <p>
            « MaxAirain » met à disposition des agents professionnels, hautement qualifiés et formés à toute
        situation relevant de la sécurité, de la surveillance, du gardiennage et de la protection.
        La société compte 64 salariés dont 53 agents de sécurité.
            </p>
        </div>
       <div class="contenue_a_propos">
            <div class="circle"></div>
            <p>
            Les agents partagent un local où est stocké le matériel
            </p>
        </div>
    <div>
</div>
{% endblock %}